@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes throb {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes wave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400px);
  }
}
@keyframes swell {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
#sky, #foreground {
  pointer-events: none;
  z-index: -1;
}
#sky img, #sky svg, #foreground img, #foreground svg {
  user-select: none;
}

#sky, #sky #night, #sky #sunset, #sky #day {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#sky #night {
  background: linear-gradient(to bottom, transparent 66%, #123561), url("img/stars.jpg");
}
#sky #sunset {
  background: linear-gradient(to bottom, #8897ff 66%, #ff4a4a);
  transition: opacity 0.66s 0.33s ease-in-out;
}
#sky #day {
  background: linear-gradient(to bottom, #98e7ff 66%, #a4f7d5);
  transition: opacity 0.66s 0.66s ease-in-out;
}
#sky #sun-transitioner {
  transform: translateY(0);
  transition: transform 0.66s 0.66s ease-in-out;
}
#sky #sun {
  position: absolute;
  top: 20px;
  right: 20px;
  animation: rotate 120s linear infinite;
}
#sky #sun svg {
  width: 300px;
  height: auto;
  animation: throb 2.5s ease-in-out alternate infinite;
  fill: #ffe187;
  background: radial-gradient(#ffe187 0, transparent 66%);
}
#sky #moon-transitioner {
  transform: translateY(100vh);
  transition: transform 0.66s cubic-bezier(0.36, 0, 0.66, -0.3);
}
#sky #moon {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 300px;
  width: 300px;
  animation: throb 2.5s ease-in-out alternate infinite;
  background: radial-gradient(white 0, transparent 66%), radial-gradient(white 0, white 50%, transparent 50%);
}

#foreground {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#foreground #island {
  position: absolute;
  bottom: 25px;
  left: 20px;
  width: 400px;
  transition: filter 0.66s 0.66s ease-in-out;
}
#foreground #wave-bg, #foreground #wave-fg {
  position: absolute;
  height: 82px;
  width: calc(100vw + 400px);
  left: 0;
  bottom: 0;
}
#foreground #wave-bg > div, #foreground #wave-fg > div {
  width: 100%;
  height: 100%;
}
#foreground #wave-bg {
  bottom: 5px;
  animation: wave 40s linear infinite;
}
#foreground #wave-bg > div {
  background: url("img/wave_bg.png") repeat-x bottom;
  animation: swell 5s ease-in-out alternate infinite;
}
#foreground #wave-fg {
  animation: wave 20s linear infinite;
}
#foreground #wave-fg > div {
  background: url("img/wave_fg.png") repeat-x bottom;
  animation: swell 2.5s ease-in-out alternate infinite;
}
#foreground #underwater {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -400px;
  height: 410px;
  background: linear-gradient(#225373, black 90%, black);
}
#foreground #underwater #fishy {
  position: absolute;
  right: 100px;
  bottom: 100px;
  animation: swell 5s ease-in-out alternate infinite;
  opacity: 0;
  transition: opacity 0.66s 0.33s ease-in-out;
}
#foreground #underwater #fishy img {
  opacity: 0.5;
}
#foreground #underwater #fishy::after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -19px;
  left: 29px;
  background: radial-gradient(yellow 0, yellow 2px, rgba(255, 255, 255, 0.3) 2px, transparent 10px);
  animation: throb 1.5s ease-in-out alternate infinite;
}

.night-mode #sky #sunset {
  opacity: 0;
  transition: opacity 0.66s 0.66s ease-in-out;
}
.night-mode #sky #day {
  opacity: 0;
  transition: opacity 0.66s 0.33s ease-in-out;
}
.night-mode #sky #sun-transitioner {
  transform: translateY(100vh);
  transition: transform 0.66s cubic-bezier(0.36, 0, 0.66, -0.3);
}
.night-mode #sky #moon-transitioner {
  transform: translateY(0);
  transition: transform 0.66s 0.66s ease-in-out;
}
.night-mode #foreground #island {
  filter: brightness(0%);
  transition: filter 0.66s 0.33s ease-in-out;
}
.night-mode #foreground #underwater #fishy {
  opacity: 1;
  transition: opacity 0.66s 0.66s ease-in-out;
}

@media only screen and (max-width: 600px) {
  #sky #sun svg {
    width: 200px;
  }
  #sky #moon {
    width: 200px;
    height: 200px;
  }

  #foreground #island {
    width: 300px;
  }
}
#night-mode-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  padding: 3px;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: #98e7ff;
  z-index: 1000;
}
#night-mode-toggle #night-mode-toggle-off-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("img/stars.jpg");
  background-size: 150px;
  transition: opacity 0.66s 0.33s ease-in-out;
}
#night-mode-toggle #night-mode-toggle-switch {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #FEFAE4;
  transition: transform 0.3s cubic-bezier(0.92, 0.71, 0.27, 1.24), background-color 0.66s 0.33s ease-in-out;
  z-index: 1;
}
#night-mode-toggle svg {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 25px;
  fill: #FEFAE4;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.33s ease-out, transform 0s 0.33s ease-out;
  z-index: 1;
}
#night-mode-toggle[aria-checked=true] #night-mode-toggle-off-bg {
  opacity: 0;
}
#night-mode-toggle[aria-checked=true] #night-mode-toggle-switch {
  transform: translateX(30px);
  background-color: #ffe187;
}
#night-mode-toggle[aria-checked=true] svg {
  transform: translateX(0);
  opacity: 1;
  transition: opacity 0.66s 0.33s ease-in-out, transform 0.66s 0.33s ease-in-out;
}

@media only screen and (max-width: 600px) {
  #night-mode-toggle {
    top: auto;
    left: auto;
    right: 10px;
    bottom: 10px;
  }
}
.list-wrapper .list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-wrapper .list li {
  position: relative;
  margin-top: 5px;
  border-radius: 3px;
  background-color: #FFFAE6;
  text-transform: capitalize;
  transition: transform 0.2s ease-out, background-color 0.66s 0.66s ease-in-out, color 0.66s 0.66s ease-in-out;
  overflow: hidden;
  color: #83735F;
}
.list-wrapper .list li label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}
.list-wrapper .list li:hover {
  transform: scale(1.03);
}
.list-wrapper .list li input[type=checkbox] {
  margin-right: 10px;
}
.list-wrapper .list li[data-checked=true] {
  opacity: 0.5;
}
.list-wrapper .list li[data-checked=true] label {
  text-decoration: line-through;
}

.night-mode .list li {
  background-color: #1D3851;
  color: #CDEBEF;
}

@media only screen and (max-width: 600px) {
  .list-wrapper {
    padding-bottom: 35px;
  }
}
#tab-panel {
  width: 500px;
  max-width: 100vw;
  padding: 10px;
  margin: auto;
  box-sizing: border-box;
}
#tab-panel .tabs {
  display: flex;
  border-radius: 20px;
  background-color: #FAF0A6;
  overflow: hidden;
}
#tab-panel .tabs .tab {
  position: relative;
  flex: 1;
  border: 0;
  padding: 10px 0 7px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  color: #83735F;
  border-bottom: 3px solid transparent;
}
#tab-panel .tabs .tab .highlight {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  background-color: transparent;
  pointer-events: none;
  z-index: 1;
}
#tab-panel .tabs .tab .highlight::after {
  display: block;
  content: "";
  position: absolute;
  height: 1em;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 0.5em;
  background-color: transparent;
  z-index: -1;
}
#tab-panel .tabs .tab:hover .highlight::after {
  background-color: #FECF32;
}
#tab-panel .tabs .tab svg {
  display: none;
  width: 20px;
  height: auto;
  margin: auto;
  fill: #83735F;
}
#tab-panel .tab-panel-content {
  display: none;
  padding: 0 20px;
}
#tab-panel[data-selected-tab=fish] .tab[data-tab-id=fish] .highlight::after {
  background-color: #FECF32;
}
#tab-panel[data-selected-tab=fish] .tab-panel-content[data-tab-id=fish] {
  display: block;
}
#tab-panel[data-selected-tab=bugs] .tab[data-tab-id=bugs] .highlight::after {
  background-color: #FECF32;
}
#tab-panel[data-selected-tab=bugs] .tab-panel-content[data-tab-id=bugs] {
  display: block;
}
#tab-panel[data-selected-tab=fossils] .tab[data-tab-id=fossils] .highlight::after {
  background-color: #FECF32;
}
#tab-panel[data-selected-tab=fossils] .tab-panel-content[data-tab-id=fossils] {
  display: block;
}
#tab-panel[data-selected-tab=art] .tab[data-tab-id=art] .highlight::after {
  background-color: #FECF32;
}
#tab-panel[data-selected-tab=art] .tab-panel-content[data-tab-id=art] {
  display: block;
}
#tab-panel[data-selected-tab=songs] .tab[data-tab-id=songs] .highlight::after {
  background-color: #FECF32;
}
#tab-panel[data-selected-tab=songs] .tab-panel-content[data-tab-id=songs] {
  display: block;
}
#tab-panel[data-selected-tab=flowers] .tab[data-tab-id=flowers] .highlight::after {
  background-color: #FECF32;
}
#tab-panel[data-selected-tab=flowers] .tab-panel-content[data-tab-id=flowers] {
  display: block;
}

@font-face {
  font-family: "humming";
  src: url("humming.otf");
}
* {
  font-size: 1.2rem;
  font-family: "humming";
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  background-color: black;
}
html:not(.keyboard-accessible) *:focus {
  outline: none;
}

h1 {
  margin: 0;
  padding: 10px 0 0;
  text-align: center;
  color: #83735F;
  font-size: 2.4rem;
  transition: color 0.66s 0.66s ease-in-out;
}

.parallax-container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax-container #foreground {
  transform: translateZ(-10px) scale(11);
}
.parallax-container #sky {
  transform: translateZ(-11px) scale(12);
}

.night-mode h1 {
  color: #FEFAE4;
}

/*# sourceMappingURL=style.css.map */
