@use './background';
@use './night-mode-toggle';
@use './list';
@use './tab-panel';
@use './tabs';
@use './colors';

@font-face {
  font-family: "humming";
  src: url("humming.otf") format("opentype");
}

@font-face {
  font-family: "bells";
  src: url("bells.woff") format("woff");
}

* {
	font-size: 1.2rem;
	font-family: "humming";
}

html, body {
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
	background-color: black;

	&:not(.keyboard-accessible) *:focus {
		outline: none;
	}
}

h1 {
	margin: 0;
	padding: 10px 0 0;
	text-align: center;
	color: colors.$text-brown;
	font-size: 2.4rem;
	transition: background.transition-with-sunrise(color);
}

.parallax-container {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;

	#foreground {
		transform: translateZ(-10px) scale(11);
	}
	#sky {
		transform: translateZ(-11px) scale(12);
	}
}

.night-mode {
	h1 {
		color: colors.$white;
	}
}
