@use './background';
@use './list';
/* #b2c9ab */

* {
	font-family: "Comic Sans MS";
}

body, html {
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0 auto;
	text-align: center;
	color: #69585f;
}

#night-mode-toggle {
	position: fixed;
	top: 20px;
	left: 20px;

	input[type="checkbox"] {
		margin-right: 10px;
	}
}

h1, #night-mode-toggle {
	transition: background.transition-with-sunrise(color);
}

.night-mode {
	h1, #night-mode-toggle {
		color: white;
	}
}
