$day-night-duration: 0.66s; // how long it takes a light source to fully set
$day-night-delay: $day-night-duration * 0.5; // how long until a light source begins to set
$bounce-ease-in: cubic-bezier(0.36, 0, 0.66, -0.3);

@function transition-with-sunset($rule) {
	@return $rule $day-night-duration $day-night-delay ease-in-out;
}

@function transition-with-sunrise($rule) {
	@return $rule $day-night-duration $day-night-duration ease-in-out;
}

// for sun
@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
// for sun and moon
@keyframes throb {
	from { transform: scale(1); }
	to { transform: scale(1.05); }
}
// for waves
@keyframes wave {
	from { left: 0; }
	to { left: -400px; }
}
@keyframes swell {
	from { transform: translateY(0); }
	to { transform: translateY(10px); }
}

#background {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;

	#sky-night, #sky-sunset, #sky-day {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	#sky-night {
		background: linear-gradient(to bottom, #1b1f38 66%, #123561);
	}
	#sky-sunset {
		background: linear-gradient(to bottom, #8897ff 66%, #ff4a4a);
		transition: transition-with-sunset(opacity);
	}
	#sky-day {
		background: linear-gradient(to bottom, #98e7ff 66%, #a4f7d5);
		transition: transition-with-sunrise(opacity);
	}

	#sun-transitioner {
		transform: translateY(0);
		transition: transition-with-sunrise(transform);
	}
	#sun {
		position: absolute;
		top: 20px;
		right: 20px;
		animation: rotate 120s linear infinite;

		svg {
			height: 300px;
			width: 300px;
			animation: throb 2.5s ease-in-out alternate infinite;
			fill: #ffe187;
			background: radial-gradient(#ffe187 0, transparent 66%);
		}
	}

	#moon-transitioner {
		transform: translateY(100vh);
		transition: transform $day-night-duration $bounce-ease-in;
	}
	#moon {
		position: absolute;
		top: 20px;
		right: 20px;
		height: 300px;
		width: 300px;
		animation: throb 2.5s ease-in-out alternate infinite;
		background:
			radial-gradient(white 0, transparent 66%), // glow
			radial-gradient(white 0, white 50%, transparent 50%); // moon
	}

	#island {
		position: absolute;
		bottom: 25px;
		left: 20px;
		width: 400px;
		pointer-events: none;
		transition: transition-with-sunrise(filter);
	}

	#wave_bg, #wave_fg {
		position: absolute;
		height: 82px;
		width: calc(100vw + 400px);
		left: 0;
		bottom: 0;
	}
	#wave_bg {
		background: url("img/wave_bg.png") repeat-x bottom;
		animation: wave 40s linear infinite, swell 5s ease-in-out alternate infinite;
		bottom: 5px;
	}
	#wave_fg {
		background: url("img/wave_fg.png") repeat-x bottom;
		animation: wave 20s linear infinite, swell 2.5s ease-in-out alternate infinite;
	}
}

.night-mode {
	#background {
		#sky-sunset {
			opacity: 0;
			transition: transition-with-sunrise(opacity);
		}
		#sky-day {
			opacity: 0;
			transition: transition-with-sunset(opacity);
		}
		#sun-transitioner {
			transform: translateY(100vh);
			transition: transform $day-night-duration $bounce-ease-in;
		}
		#moon-transitioner {
			transform: translateY(0);
			transition: transition-with-sunrise(transform);
		}
		#island {
			filter: brightness(0%);
			transition: transition-with-sunset(filter);
		}
	}
}
