$menu-blue: #42AFA4;
$menu-navy: #1D3851;
$menu-yellow: #FECF32;
$menu-bells: #BDA54E;
$menu-submenu: #FAF0A6;
$menu-light: #FFFAE6;
$menu-dark: #EEE1CD;

$keyboard-light: #E4C597;
$keyboard-dark: #AE9072;
$keyboard-highlight: #FBDEB9;
$keyboard-action: #EDB95D;

$text-brown: #83735F;
$text-blue: #CDEBEF;
$text-green: #29B929;
$text-orange: #E4943D;
$text-cyan: #28BAC9;

$white: #FEFAE4;
