$menu-blue: #42AFA4;
$menu-navy: #1D3851;
$menu-yellow: #FECF32;
$menu-bells: #BDA54E;
$menu-submenu: #FAF0A6;
$menu-light: #FFFAE6;
$menu-dark: #EEE1CD;
$text-brown: #83735F;
$text-blue: #CDEBEF;
$white: #FEFAE4;
