@use './background';
@use './colors';

.list-wrapper {
	.list-filters {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 10px;
		margin-top: 5px;
		border-radius: 3px;
		background-color: colors.$menu-submenu;
	}

	.list {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			position: relative;
			margin-top: 5px;
			border-radius: 3px;
			background-color: colors.$menu-light;
			text-transform: capitalize;
			transition: transform 0.2s ease-out, background.transition-with-sunrise(background-color), background.transition-with-sunrise(color);
			overflow: hidden;
			color: colors.$text-brown;

			label {
				position: relative;
				display: flex;
				align-items: center;
				padding: 10px;
				cursor: pointer;
				z-index: 1;
			}

			input[type="checkbox"] {
				margin-right: 10px;
			}

			.list-item-details {
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 1rem;
			}

			&:hover {
				transform: scale(1.03);
			}
			&.filtered {
				display: none;
			}
			&.new-this-month {
				color: colors.$text-green;
				transition: none;
			}
			&.leaving-this-month {
				color: colors.$text-orange;
				transition: none;
			}
			&[data-checked="true"] {
				opacity: 0.5;

				label {
					text-decoration: line-through;
				}
			}
		}
	}
}

.night-mode {
	.list li {
		background-color: colors.$menu-navy;
		color: colors.$text-blue;
	}
}

@media only screen and (max-width: 600px) {
	.list-wrapper {
		padding-bottom: 35px; // make room for day/night toggle
	}
}
