@use './background';
@use './colors';

.list-wrapper {
	.list {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			position: relative;
			margin-top: 5px;
			border-radius: 3px;
			background-color: colors.$menu-light;
			text-transform: capitalize;
			transition: transform 0.2s ease-out, background.transition-with-sunrise(background-color), background.transition-with-sunrise(color);
			overflow: hidden;
			color: colors.$text-brown;

			label {
				position: relative;
				display: flex;
				align-items: center;
				padding: 10px;
				cursor: pointer;
				z-index: 1;
			}

			&:hover {
				transform: scale(1.03);
			}

			input[type="checkbox"] {
				margin-right: 10px;
			}

			&[data-checked="true"] {
				opacity: 0.5;

				label {
					text-decoration: line-through;
				}
			}
		}
	}
}

.night-mode {
	.list li {
		background-color: colors.$menu-navy;
		color: colors.$text-blue;
	}
}
