@use './colors';

#tab-panel {
	width: 550px;
	max-width: 100vw;
	padding: 10px;
	margin: auto;
	box-sizing: border-box;

	.tabs {
		display: flex;
		border-radius: 20px;
		background-color: colors.$menu-submenu;
		overflow: hidden;

		.tab {
			position: relative;
			flex: 1;
			border: 0;
			padding: 10px 0 7px;
			margin: 0;
			background-color: transparent;
			cursor: pointer;
			text-align: center;
			text-transform: capitalize;
			color: colors.$text-brown;
			border-bottom: 3px solid transparent;

			.highlight {
				position: relative;
				display: inline-block;
				padding: 0 5px;
				background-color: transparent;
				pointer-events: none;
				z-index: 1;

				&::after {
					display: block;
					content: "";
					position: absolute;
					height: 1em;
					width: 100%;
					left: 0;
					bottom: 0;
					border-radius: 0.5em;
					background-color: transparent;
					z-index: -1;
				}
			}

			&:hover .highlight::after {
				background-color: colors.$menu-yellow;
			}

			svg {
				display: none;
				width: 20px;
				height: auto;
				margin: auto;
				fill: colors.$text-brown;
			}
		}
	}

	.tab-panel-content {
		display: none;
		padding: 0 20px;
	}

	$tabs: "fish", "bugs", "fossils", "art", "songs", "flowers";

	@each $tab in $tabs {
		&[data-selected-tab=#{$tab}] {
			.tab[data-tab-id=#{$tab}] .highlight::after {
				background-color: colors.$menu-yellow;
			}
			.tab-panel-content[data-tab-id=#{$tab}] {
				display: block;
			}
		}
	}
}
