@use './colors';

.price-tag {
	font-size: 1rem;

	&::before {
		display: inline;
		content: "$";
		margin-right: 3px;
		font-family: "bells";
		font-size: 1.2rem;
	}
}

.filter-group {
	display: flex;
	align-items: center;

	> *:not(:last-child) {
		margin-right: 5px;
	}
	select {
		font-family: "Comic Sans MS";
	}
	label {
		display: flex;
		align-items: center;
	}
}

label.new-this-month {
	color: colors.$text-green;
}

label.leaving-this-month {
	color: colors.$text-orange;
}

@media only screen and (max-width: 600px) {
	.filter-group {
		width: 100%;

		> *:not(:last-child) {
			margin-right: 15px;
		}
		select {
			flex: 1;
		}
		&:not(:first-child) {
			margin-top: 5px;
		}
	}
}
