@use './colors';

.price-tag {
	font-size: 1rem;

	&::before {
		display: inline;
		content: "$";
		margin-right: 3px;
		font-family: "bells";
		font-size: 1.2rem;
	}
}

.filter-group {
	display: flex;
	align-items: center;

	*:not(last-child) {
		margin-right: 5px;
	}
	select {
		font-family: "Comic Sans MS";
		text-transform: capitalize;
	}
	option {
		text-transform: capitalize;
	}
}

.new-this-month {
	color: colors.$text-green;
}

.leaving-this-month {
	color: colors.$text-orange;
}
